*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 34px;
    font-family: sans-serif;
    margin: 37px 0px;
}

.container{
    border-radius: 29px;
    margin: 179px auto;
    height: 50vh;
    width: 50vw;
    border: 2px solid #5d5dd7;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input{
    border: 2px solid black;
    margin: 23px;
    padding: 10px;
    font-size: 24px;
    border-radius: 7px;
    height: 6vh;
    width: 20vw;
}
.in-div label{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 31px;
}

#cel{
    margin: 0px 25px;
}

.btn input{
    font-family: monospace;
    cursor: pointer;
 
    margin: 2px 3px;
    font-size: 28px;
    
    border-radius: 13px;
    color: white;
    background-color: #5d5dd7;
    border: 2px solid black;
    height: 6vh;
    width: 10vw;
   
}

.btn input:hover{
     
    color: #5d5dd7;
    background-color: white;
     
   
}
.unit{
    color: #7dec07;
    font-size: 30px;
}